/.idea/workspace.xml
/.idea/misc.xml
/.idea/codeStyleSettings.xml
/.idea/libraries/
/.idea/artifacts/
/.idea/jsLinters/
/.idea/dataSources*
/.idea/inspectionProfiles/

/.idea/dictionaries/*.xml
/.idea/jsLibraryMappings.xml

*/target/**

*.iml
*.log
.settings
.classpath
.project
bin
/.idea/*
